<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body class="bg-white">

  <% include ../partials/nav.ejs %>

	<div class="container mt-3 pt-5 pb-5 bg-light">
  		<div class="row">
  			<h2>Have you problem with your account or you have lost your password? <a href="mailto:190eef3f298c88a7c162@cloudmailin.net">Contact Us</h2>
  		</div>
  	</div>
</body>
</html>
